.sidebar {
    width: 230px;
    height: calc(100vh - 20px);
    background: linear-gradient(to bottom, var(--cor-800), var(--cor-900));
    color: var(--cor-50);
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    padding: 25px 15px;
    position: fixed;
    left: 10px;
    top: 10px;
    transition: transform 0.3s ease;
    z-index: 1000;
    border-radius: 10px;
}


.logo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding-bottom: 25px;
    margin-bottom: 25px;
    border-bottom: 1px solid var(--cor-700);
}

.logo h1 {
    font-size: 1rem;
    font-weight: 600;
    margin: 0;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
}

.menuItem {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 12px 15px;
    color: var(--cor-50);
    text-decoration: none;
    border-radius: 10px;
    transition: 0.25s ease;
    font-size: 0.9rem;
    font-weight: 500;
}

.menuItem:hover {
    background-color: var(--cor-700);
}

.active {
    background-color: var(--cor-600);
    border-left: 5px solid #1C99D6;
}

.icon {
    width: 22px;
    height: 22px;
}

.sidebarToggle {
    position: fixed;
    top: 15px;
    left: 15px;
    background: none;
    border: none;
    color: var(--cor-50);
    z-index: 1100;
    cursor: pointer;
    display: none;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 900;
}

@media (max-width: 768px) {
    .sidebar {
        transform: translateX(-100%);
    }

    .sidebar.open {
        transform: translateX(0);
    }

    .sidebarToggle {
        display: block;
    }
}