.main {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.tab-button {
  padding: 8px 16px;
  border-radius: 6px;
  border: 1px solid var(--cor-200);
  background-color: var(--cor-50);
  font-weight: normal;
  cursor: pointer;
}

.tab-button.active {
  border: 2px solid var(--cor-900);
  background-color: var(--cor-200);
  font-weight: bold;
}