.header {
  position: fixed;
  top: 0;
  left: 250px;
  width: calc(100% - 240px);
  height: 95px;
  background-color: transparent;
  color: var(--slate-50);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 4em;
  z-index: 999;
}

.titleContainer {
  display: flex;
  align-items: center;
}

.title {
  margin-left: 10px;
  font-size: 1.7rem;
  font-weight: bold;
  color: #3d3d3d;
}

.profile {
  display: flex;
  align-items: center;
}

.profileName {
  font-size: 1.4rem;
  font-weight: 500;
  text-transform: capitalize;
}

.actionProfile{
  display: flex;
    gap: 10px;
    color: #374151;
}

.profileIcon {
  cursor: pointer;
  font-size: 1.2rem;
  transition: transform 0.3s ease-in-out;
}

.icon {
  width: 30px;
  height: 30px;
  color: #3d3d3d;
}

.actionIcon {
  color: #6b7280;
  cursor: pointer;
  transition: 0.2s ease;
}

.actionIcon:hover {
  color: #374151;
}

.dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: var(--cor-100);
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  min-width: 150px;
  z-index: 1002;
  display: flex;
  flex-direction: column;
}

.dropdownItem {
  padding: 8px 16px;
  color: var(--cor-900);
  cursor: pointer;
}

@media (max-width: 768px) {
  .header {
    left: 0;
    width: 100%;
  }

  .profile {
    display: none;
  }
}