.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh !important;
    padding: 30px;
}

.login{
    background: var(--cor-50);
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0,0,0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.login h1{
    margin-bottom: 1.5rem;
    color: var(--cor-800);
    font-size: 2.1rem;
    font-weight: 800;
}

.login input{
    display: block;
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 1rem;
    border: 1px solid var(--cor-300);
    border-radius: 4px;
    font-size: 1rem;
    transition: border-color 0.3s;
}

.login input:focus {
    outline: none;
    border-color: var(--cor-details);
}

.login button{
    width: 100%;
    padding: 0.75rem;
    text-align: center !important;
    background: var(--cor-details);
    color: var(--cor-50);
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: transform 0.3s;
}


.login button:hover{
    transform: scale(1.01);
}

.login a {
    display: block;
    margin-top: 1rem;
    color: var(--cor-700);
    text-decoration: none;
    font-size: 0.9rem;
}

.login a:hover {
    color: var(--cor-800);
    text-decoration: underline;
}

.login input.error {
  border-color: #ef4444;
}

.errorMessage {
  color: #ef4444;
  font-size: 0.875rem;
  margin-top: 4px;
  margin-bottom: 0;
}

