.container {
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
    padding: 20px 0px;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 50px;
}

.criar,
.cadastrado {
    flex: 1;
}

.title {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 20px;
    color: var(--cor-900);
}

.subtitle {
    font-size: 22px;
    margin-bottom: 20px;
    font-weight: 700;
    color: var(--cor-900);
}

.form {
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 25px;
    background: var(--cor-50);
    border-radius: 4px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.08);
}

.label {
    font-weight: 600;
    font-size: 15px;
}

.input {
    padding: 12px 15px;
    border-radius: 4px;
    border: 1px solid var(--cor-300);
    font-size: 15px;
    transition: 0.2s;
    background-color: white;
}

.input:focus {
    border-color: var(--cor-900);
    box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.1);
    outline: none;
}

.textarea {
    width: 100%;
    min-height: 120px;
    padding: 12px 15px;
    border-radius: 8px;
    border: 1px solid var(--cor-300);
    background: #fff;
    font-size: 15px;
    font-family: inherit;
    resize: none;
    transition: 0.2s ease;
}

.textarea:focus {
    border-color: var(--cor-900);
    box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.08);
    outline: none;
}

.textarea::placeholder {
    color: #aaa;
}

.textarea:disabled {
    background: #f5f5f5;
    cursor: not-allowed;
}


.btn {
    background: var(--cor-300);
    border: none;
    padding: 12px 20px;
    border-radius: 8px;
    color: var(--cor-800);
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
    transition: 0.3s ease;
}

.btn:hover:not(:disabled) {
    background: var(--cor-400);
}

.btn:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

.tableContainer {
    margin-top: 10px;
    overflow-x: auto;
}

.table {
    width: 100%;
    border-collapse: collapse;
    background: #fff;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.05);
}

.table th {
    background: #f5f7fa;
    padding: 14px;
    text-align: left;
    font-weight: 600;
}

.table td {
    padding: 14px;
    border-top: 1px solid #eee;
}

.row:hover {
    background: #f9fbff;
}

.formGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  background: #fff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
  width: 100%;
  max-width: 1100px;
}

.left,
.right {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* Responsividade */
@media (max-width: 900px) {
    .container {
        flex-direction: column;
        gap: 40px;
    }

    .criar,
    .cadastrado {
        max-width: 100%;
    }

      .formGrid {
    grid-template-columns: 1fr;
  }
}




